version: "3.8"

services:
  calculadora:
    image: calculadora-ec2:prod # ⬅️ Nome fixo da imagem
    build: .
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      retries: 3
