 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');


 body {
   font-family: 'Inter', Arial, sans-serif;
   background: #f6f8fa;

   height: 100%;
   margin: 0;
   padding: 0;
   min-height: 100vh;
   
   overflow-x: hidden;
   overflow-y: auto;
   
   letter-spacing: 0.5px;
   
  width: 100%;
   
 }

 main {
   flex: 1;
   width: 100%;
 }


 @keyframes surgindo {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }

 
 
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0203c5;
  color: white;
  text-align: center;
  backdrop-filter: blur(4px);
  z-index: 1000; /* garante que fique acima de outros elementos */
  margin-left: 0 !important;
}
@media (max-width: 1366px) and (min-width: 768px){
  .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  background-color: #0203c5;
  color: white;
  text-align: center;
  padding: 0;
  backdrop-filter: blur(4px);
  z-index: 1000; /* garante que fique acima de outros elementos */
}
}