.header {
    background-color: #0002c6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;

}

.userName {
    color: white;
    font-weight: bold;
    margin-right: 40px;
}

.logo {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}