.btn-container {
  display: block;
  position: absolute;
  right: 0px;
  top: 10px;
}

.btn {
  background-color: #ffffff;
  color: #0002c6;
  font-weight: bold;
  padding: 9px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #38bdf8;
  color: #fff;
}

@keyframes surgindo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-container {
  width: 100%;
  max-width: 950px;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.card {
  background-color: #0002c6;
  color: #4169E1;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  opacity: 1;
}

.card.suspended {
  transform: translateY(40px);
  opacity: 0.5;
  pointer-events: none;
}

.card.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.card .box-container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
  padding-left: 0px;
}

.card .box-container label {
  margin: 0;
}

.card .box-container input[type="checkbox"] {
  margin: 0;
}

.card label {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: left;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.card input,
.card select {
  padding: 8px;
  margin-top: 0px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.card input:focus,
.card select:focus {
  outline: none;
  border-color: #4169E1;
}

.card input[type="checkbox"] {
  margin-left: 0px;
  vertical-align: middle;
  width: auto;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.card input[disabled],
.card select[disabled] {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

#card4 {
  width: 830px;
  height: auto;
  background-color: #0002c6;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 100px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 90px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}

#card4 p {
  margin-bottom: 5px;
}

#card4 strong {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

#mensagemFilial {
  text-align: center;
}


.caixa-destacada {
  border: 2px solid #ffffff;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  width: 91%;
  margin-left: -15px;
  border-radius: 10px;
}

#campoParcelas select {
  padding: 8px;
  margin-top: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media print {
  @page {
    size: auto;
    margin: 0.5cm;
  }

  body {
    margin: 0;
    padding: 0;
    zoom: 75%;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 0.8rem;
    transform-origin: top left;
  }

  .form-container,
  .card,
  #card4 {
    transform: scale(1);
    transform-origin: top left;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    page-break-before: avoid;
    page-break-after: avoid;
  }

  .card {
    width: 32%;
    box-shadow: none;
    border: 1px solid #000;
    padding: 6px;
    font-size: 0.85rem;
    page-break-before: avoid;
    page-break-after: avoid;
  }

  .card h1,
  .card h2,
  .card h3,
  .card h4,
  .card p,
  .card span {
    font-size: 0.85rem;
    margin-bottom: 6px;
  }

  .card input,
  .card select,
  .card button {
    font-size: 0.85rem;
    padding: 8px 14px;
    margin: 4px 0;
  }

  #card4 {
    width: 92%;
    box-shadow: none;
    border: 1px solid #000;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.85rem;
    page-break-before: avoid;
    page-break-after: avoid;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 12px;
  }

  .footer {
    display: none;
  }

  * {
    page-break-inside: avoid;
  }

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .form-container,
  .card,
  #card4 {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  #card3 input {
    font-size: 0.85rem;
    padding: 8px 14px;
    margin: 4px 0;
  }

  .btn {
    font-size: 0.85rem;
    padding: 8px 14px;
  }

  .caixa-destacada {
    font-size: 0.8rem;
    margin: 4px 0;
  }

  .caixa-destacada p {
    margin-bottom: 4px;
  }

  #campoParcelas select {
    font-size: 0.85rem;
    padding: 8px;
  }

  .box-container input {
    font-size: 0.85rem;
    margin-left: 6px;
  }

  .box-container label {
    font-size: 0.85rem;
    margin-right: 6px;
  }

  #dropdownMenu {
    display: none !important;
  }
}

.input-group-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.input-group-row label {
  min-width: 100px;
  /* você pode ajustar conforme necessário para alinhar os labels */
}

.input-group-row input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.9rem;
  width: 150px;
  opacity: 1;
}

/* Botão de rolar para o topo */
.scroll-top-btn {
  position: fixed;
  bottom: 10%;
  right: 3%;
  background-color: #0002c6;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

.scroll-top-btn:hover {
  background-color: #38bdf8;
}