* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  gap: 20px;
  background-color: #0002c6;
  padding: 35px;
  z-index: 1000;
  opacity: 0;
  animation: surgindo 2.5s ease-out forwards;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0.5%;
  top: 5px;
}

.logo {
  width: 150px;
  height: auto;
}

.filial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 125px;
  top: 15px;
  width: auto;
}

.filial-container label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.filial-container input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  font-size: 0.9rem;
  color: #0002c6;
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.filial-container input:focus {
  outline: none;
  border-color: #4169E1;
}

.container {
  display: flex;
  gap: 150px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.btn-container {
  display: block;
  position: absolute;
  right: 0px;
  top: 15px;
}

.btn {
  background-color: #ffffff;
  color: #0002c6;
  font-weight: bold;
  padding: 9px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #38bdf8;
  color: #fff;
}

@keyframes surgindo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  background-color: #e0e0e0;
  width: 220px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  cursor: pointer;
}

.card img {
  width: 180%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: contain;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 350px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0203c5;
  color: #fff;
  padding: 16px;
  font-size: 1rem;
  text-align: center;
}

.footer-text {
  margin: 0;
}

.footer-iconTop a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.footer-iconTop a:hover {
  color: #38bdf8;
}

@media (max-width: 768px) {
  body {
    height: auto;
    padding: 20px;
  }

  .logo-container {
    margin-top: 0;
  }

  .form-container {
    padding: 20px;
    width: 90%;
    max-width: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .footer-text p {
    font-size: 0.9rem;
  }

  .footer-iconTop a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .form-container {
    padding: 15px;
  }

  input[type="submit"] {
    font-size: 1rem;
  }

  .footer-text p {
    font-size: 0.8rem;
  }

  .footer-iconTop a {
    font-size: 1.2rem;
  }
}