<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ranking de Vendas - Tropa Azul</title>
  <link rel="stylesheet" href="/css/rankvendasmotos.css" />
  <link rel="stylesheet" href="/css/default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/sideBar.css">


</head>

<body>
  <header class="header"> <div class="userName" id="user"><span><%= usuario %></span></div></header>
    <nav id="sidebar" class="fechado">
      <div class="logoContainer">
        <a href="/segmentos" class="logoLink">
        <img src="/images/tropa_azul.png" alt="TVLAR MOTOS" class="logo">
         </a>
       <img src="/images/tropa_azul_icon.png" alt="TVLAR MOTOS" class="logoIcon" id="toggleIcon">
      </div>
        
      <div class="listMedium">
        <a href="/motos"><i class="fa-solid fa-rotate-left"></i>&nbsp;<span> Voltar</span></a>
      </div>
      
         <div class="btLogout">
          <button class="btFechar">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="/logout" class="item-description">
              <span>Sair</span>
            </a>
          </button>
        </div>
  </nav>
  <div id="overlay"></div>

  

  <footer class="footer">
    <p>Copyright &copy; 2025 Departamento de T.I | Todos os direitos reservados.</p>
  </footer>

  <script src="/js/default.js"></script>


    <button id="modalFechar">Entendi</button>
  </div>
</div>


<script src="/js/sidebar.js"></script>
<script src="/js/overlay.js"></script>
</body>

</html>