<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/painel.css') }}">
  <title>MOTORS SIMULATOR</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="top-container">
    <div class="logo-container">
      <a href="/segmentos">
        <img src="static/imagens/tvlar_motors.png" alt="TVLAR MOTORS" class="logo">
      </a>
    </div>

    <div class="filial-container">
      <button class="btn" id="showCard4Button" onclick="mostrarCard4()">Simular</button>

      <select id="filialTipo" name="filialTipo">
        <option value="">Loja</option>
        {% for chave, valor in filiais.items() %}
        <option value="{{ chave }}">{{ valor }}</option>
        {% endfor %}
      </select>
      <input type="text" id="vendedor" value="{{ usuario }}" placeholder="Nome do Usuario" readonly>
    </div>

    <div class="btn-container" id="btnContainer">
      <button class="btn" onclick="window.location.href='/'"> Logout </button>
    </div>
  </div>

  <div id="formContainer" class="form-container">
    <div class="card" id="card1">

      <label for="localizacaoMoto">ORIGEM DA MOTO</label>
      <select id="locMoto" name="locMoto">
        <option value="">Selecione</option>
        {% for chave, valor in origem_moto.items() %}
        <option value="{{ chave }}">{{ valor }}</option>
        {% endfor %}
      </select>

      <label for="yahMotos">MOTOS YAMAHA</label>
      <select id="motos_yamaha" name="motos_yamaha">
        <option value="">Selecione</option>
        {% for chave, valor in motos_yamaha.items() %}
        <option value="{{ chave }}">{{ chave }}</option>
        {% endfor %}
      </select>

      <label for="cliente">CLIENTE</label>
      <input type="text" id="cliente" placeholder="Nome do Cliente">

      <label for="cpfCliente">CPF</label>
      <input type="text" id="cpf" placeholder="CPF ou CNPJ do Cliente" maxlength="17" oninput="formatarDocumento(this);"
        onblur="validarDocumento();">

      <label for="formaPagamento">FORMA DE PAGAMENTO</label>
      <select id="forma_pagamento" name="formas_pagamentos">
        <option value="">Selecione</option>
        {% for chave, valor in formas_pagamentos.items() %}
        <option value="{{ chave }}">{{ valor }}</option>
        {% endfor %}
      </select>


    </div>

    <div class="card disabled" id="card2">
      <label for="formaBanco">BANCO</label>
      <select id="forma_banco" name="bancos">
        <option value="">Selecione</option>
        {% for chave, valor in bancos.items() %}
        <option value="{{ chave }}">{{ valor }}</option>
        {% endfor %}
      </select>

      <label for="bancoRetorno">BANCO RETORNO</label>
      <select id="banco_retorno" name="banco_retornos">
        <option value="">Selecione</option>
        {% for chave, valor in banco_retorno.items() %}
        <option value="{{ chave }}">{{ valor }}</option>
        {% endfor %}
      </select>

      <label for="precoNegociado">VALOR DO BEM</label>
      <input type="text" id="preco_negociado" placeholder="R$00,00" disabled>
      <label for="entradaBonificada">ENTRADA BONIFICADA</label>
      <input type="text" id="entrada_bonificada" placeholder="R$00,00" disabled>

    </div>

    <div class="card disabled" id="card3">

      <span id="entradaAlter"
        style="text-align: left; font-weight: bold; color: rgb(255, 255, 255); font-size: 0.9rem;"></span>

      <input type="text" id="entrada_real" placeholder="R$00,00" disabled>

      <div class="box-container">
        <label for="emplacamento" style="margin-right: 5px;">EMPLACAMENTO</label>
        <input type="checkbox" id="enableEmplacamento" onclick="toggleEmplacamento()" style="margin-left: -2px;">
      </div>
      <input type="text" id="retorno_emplacamento" placeholder="R$00,00" disabled>

      <div class="box-container">
        <label for="frete" style="margin-right: 5px;">FRETE</label>
        <input type="checkbox" id="enableFrete" onclick="toggleFrete()">
      </div>
      <input type="text" id="retorno_frete" placeholder="R$00,00" disabled>

      <div class="box-container">
        <label for="acessorio" style="margin-right: 5px;">ACESSÓRIOS VENDIDOS</label>
        <input type="checkbox" id="enableAcessorio" onclick="toggleEmplacamento()">
      </div>
      <input type="text" id="retorno_acessorio" placeholder="R$00,00" disabled>

      <div class="box-container">
        <label for="brinde" style="margin-right: 5px;">BRINDE</label>
        <input type="checkbox" id="enableBrinde" onclick="toggleEmplacamento()">
      </div>
      <input type="text" id="retorno_brinde" placeholder="R$00,00" disabled>




    </div>
  </div>

  <div id="card4" style="display: none;">
    <p style="text-align: center;"><strong>Relatório - </strong> <span id="mensagemFilial"></span></p>

    <p id="valor_venda_real"></p>
    <p><strong>Custo da Moto:</strong> <span id="custo_produto"></span></p>
    <p><strong>Margem Bruta:</strong> <span id="margem_bruta"></span></p>
    <p style="height: 1px;"></p>

    <!--<p><strong>Revisão: Esse valor deverá ser cobrado na aba despachante ou do cliente</strong> <span
        id="revisao"></span></p>
    <p style="height: 1px;"></p>-->

    <p><strong>DESPESAS</strong></p>
    <p><strong>Emplacamento Custo:</strong> <span id="custo_emplacamento"></span></p>
    <p><strong>Frete Custo:</strong> <span id="custo_frete"></span></p>
    <p><strong>Acessórios Custo:</strong> <span id="custo_acessorio"></span></p>
    <p><strong>Brinde:</strong> <span id="resultado_brinde"></span></p>
    <p><strong>Despesas Operacionais:</strong> <span id="despesas_ope_fin_mkt"></span></p>
    <p><strong>Total de Despesas:</strong> <span id="resultado_despesas"></span></p>
    <p style="height: 1px;"></p>
      
    <p><strong>Retorno do Banco:</strong> <span id="resultado_banco"></span></p>
    <p><strong>Emplacamento Receita:</strong> <span id="receita_emplacamento"></span></p>
    <p><strong>Frete Receita:</strong> <span id="receita_frete"></span></p>
    <p><strong>Acessórios Receita:</strong> <span id="receita_acessorio"></span></p>
    <p><strong>Total de Receitas:</strong> <span id="resultado_receitas"></span></p>
    <p style="height: 1px;"></p>

    <div id="caixa_destacada"
      style="border: 2px solid #ffffff; padding: 10px 20px 20px 20px; margin-top: 20px; background-color: transparent; width: 91%; margin-left: -35px;">
      <p><strong>Margem Líquida:</strong> <span id="resultado_liquido"></span></p>
      <p><strong>Comissão Aproximada:</strong> <span id="comissao"></span></p>
    </div>
    <p style="height: 1px;"></p>

    <!--<p><strong>PPS:</strong> <span id="pps"></span></p> -->
  </div>

  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2025 by Departamento de T.I | All Rights Reserved.</p>

      <span class="animate scroll" style="--i:1;"></span>
    </div>

    <div class="footer-iconTop">
      <a href="#"><i class='bx bx-up-arrow-alt'></i></a>

      <span class="animate scroll" style="--i:3;"></span>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/painel.js') }}"></script>
</body>

</html>