<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/segmentos.css">
  <title>Segmentos - Tropa Azul</title>
</head>

<body>
  <div class="top-container">
    <div class="logo-container">
      <a href="/segmentos">
        <img src="/images/tropa_azul.png" alt="TVLAR MOTORS" class="logo">
      </a>
    </div>

    <div class="filial-container">
      <div class="user-menu">
        <button id="user-button">
          <%= usuario %>
        </button>
        <div id="user-dropdown" class="dropdown-content">
          <% if (grupo==='admin' ) { %>
            <a href="/usuarios">Usuários</a>
            <% } %>
              <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card" id="motos">
      <img src="/images/card_motos.png" alt="Motos" class="card-image">
    </div>

    <div class="card" id="nautica">
      <img src="/images/card_nautica.png" alt="Nautica" class="card-image">
    </div>

    <div class="card" id="config">
      <img src="/images/card_config.png" alt="Config" class="card-image">
    </div>

    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2025 by Departamento de T.I | All Rights Reserved.</p>

        <span class="animate scroll" style="--i:1;"></span>
      </div>

      <div class="footer-iconTop">
        <a href="#"><i class='bx bx-up-arrow-alt'></i></a>

        <span class="animate scroll" style="--i:3;"></span>
      </div>
    </footer>

    <script src="/js/segmentos.js"></script>
</body>

</html>