<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/segmento.css') }}">
  <title>MOTORS SIMULATOR</title>
</head>

<body>
  <div class="top-container">
    <div class="logo-container">
      <a href="/segmentos">
        <img src="static/imagens/tvlar_motors.png" alt="TVLAR MOTORS" class="logo">
      </a>
    </div>

    <div class="filial-container">
      <input type="text" id="vendedor" value="{{ usuario }}" placeholder="Nome do Usuario" readonly>
    </div>

    <div class="btn-container" id="btnContainer">
      <button class="btn" onclick="window.location.href='/'"> Logout </button>
    </div>
  </div>


  <div class="container">
    <div class="card" id="motos">
      <img src="static/imagens/card_motos.png" alt="Motos" class="card-image">
    </div>
    <div class="card" id="agro-bosch">
      <img src="static/imagens/card_agro.png" alt="Agro" class="card-image">
    </div>
    <div class="card" id="nautica">
      <img src="static/imagens/card_nautica.png" alt="Nautica" class="card-image">
    </div>
    <div class="card" id="seminovos">
      <img src="static/imagens/card_seminovos.png" alt="Seminovos" class="card-image">
    </div>
    <div class="card" id="consorcio">
      <img src="static/imagens/card_consorcio.png" alt="Consórcio" class="card-image">
    </div>

    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2025 by Departamento de T.I | All Rights Reserved.</p>

        <span class="animate scroll" style="--i:1;"></span>
      </div>

      <div class="footer-iconTop">
        <a href="#"><i class='bx bx-up-arrow-alt'></i></a>

        <span class="animate scroll" style="--i:3;"></span>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/segmento.js') }}"></script>
</body>

</html>