<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- A referência para o CSS segue o mesmo padrão do seu portfólio -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <title>MOTORS SIMULATOR</title>
</head>

<body>
  <header>
    <div class="logo-container">
      <!-- A referência -->
      <img src="{{ url_for('static', filename='imagens/tvlar-motors.png') }}" alt="Logo TVLar Motors">
    </div>
  </header>

  <main>
    <div class="form-container">

      <form action="/login" method="POST" id="loginForm">
        <div class="input-group">
          <label for="login">Login</label>
          <input type="text" id="login" name="login" required placeholder="Digite seu login">
        </div>

        <div class="input-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" required placeholder="Digite sua senha">
        </div>

        <div class="form-actions">
          <input type="submit" value="Entrar">
        </div>
      </form>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="message">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </main>

  <!-- footer design -->
  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2025 by Departamento de T.I | All Rights Reserved.</p>

      <span class="animate scroll" style="--i:1;"></span>
    </div>

    <div class="footer-iconTop">
      <a href="#"><i class='bx bx-up-arrow-alt'></i></a>

      <span class="animate scroll" style="--i:3;"></span>
    </div>
  </footer>
</body>

</html>